.login{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container{
    background: rgba(255,255,255, 0.1);
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
   font-size: 14px;
}
.login__cotainer--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__cotainer--remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__cotainer--remember-me a:hover{
    text-decoration: underline;
}

.login__container--social-media > div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login__container--social-media > div img{
   width: 30px;
   margin-right: 10px;
}

.login__container--register a{
    font-size:16px ;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.login__container--register a:hover{
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: solid 2px white;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}


::placeholder{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.button{
    background-color: rgba(255,255,255, 0.1);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: white;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}


.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    cursor: pointer;
    font-size: 14px;
    color:white;
    text-decoration:none;
    padding-left: 30px;
}

.footer :hover{
  text-decoration: underline;
}

@media only screen and (max-width:600px){
    .login__container{
        background-color: transparent;
        padding:0;
        width: 100%;
        border:none;
    }

    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}