body{
    margin: 0px;
}

header{
    background-color: #1b262c;
    width: 100%;
    position: -webkit-sticky;
    position:  sticky;
}

header img{
    cursor: pointer;
    margin: 10;
    width: 200px;

}